In [22]:
import requests

r = requests.get('https://dadosabertos.bcb.gov.br/api/rest/dataset/dolar')
r.json()

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [ ]:
%load_ext nb_black

In [214]:
from collections import OrderedDict

import defusedxml.cElementTree as ET
import pandas as pd
from xml.etree import ElementTree
import jinja2 as j2
import sgs
import xml.dom.minidom

In [215]:
template = """
<?xml version="1.0" encoding="utf-8"?>
      <soapenv:Envelope
        xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <soapenv:Body>
          <{{ method }}
            xmlns="https://www3.bcb.gov.br/wssgs/services/FachadaWSSGS">
            {%- for p in params -%}
              {%- if p == "codigosSeries" %}
                <{{ p }}>
                  <item>{{ params[p] }}</item>
                </{{ p }}>
              {%- else %}
                <{{ p }}>{{ params[p] }}</{{ p }}>
              {%- endif %}
            {%- endfor %}
          </{{ method }}>
        </soapenv:Body>
      </soapenv:Envelope>
""".strip()

In [216]:
tp = j2.Template(template)

In [217]:
method="getValoresSeriesXML"
params = OrderedDict(
    [("codigosSeries", 12), ("dataInicio", "01/01/2018"), ("dataFim", "01/02/2018")]
)
tp_str = tp.render(params=params, method="getValoresSeriesXML")
print(tp_str)

<?xml version="1.0" encoding="utf-8"?>
      <soapenv:Envelope
        xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <soapenv:Body>
          <getValoresSeriesXML
            xmlns="https://www3.bcb.gov.br/wssgs/services/FachadaWSSGS">
                <codigosSeries>
                  <item>12</item>
                </codigosSeries>
                <dataInicio>01/01/2018</dataInicio>
                <dataFim>01/02/2018</dataFim>
          </getValoresSeriesXML>
        </soapenv:Body>
      </soapenv:Envelope>

In [270]:
sgs.series.BOVESPA_VOLUME

8

In [278]:
sgs.series.INCC

192

In [279]:
template1 = """
<?xml version="1.0" encoding="utf-8"?>
      <soapenv:Envelope
        xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <soapenv:Body>
          <getValoresSeriesXML
            xmlns="https://www3.bcb.gov.br/wssgs/services/FachadaWSSGS">
                <codigosSeries>  
                  <item>8</item>
                  <item>11</item>                  
                  <item>192</item>
                </codigosSeries>
                <dataInicio>01/01/2018</dataInicio>
                <dataFim>01/03/2018</dataFim>
          </getValoresSeriesXML>
        </soapenv:Body>
      </soapenv:Envelope>
""".strip()
sgs.sgs.template = template1

In [280]:
def extract_series_tree(api_response: bytes) -> ElementTree.Element:
    tree = ET.fromstring(api_response)
    XML = list(tree.iter(tag="getValoresSeriesXMLReturn"))[0].text
    series_tree = ET.fromstring(XML)
    return series_tree

In [281]:
def parse_serie_xml(serie: ElementTree.Element) -> pd.Series:
    name = serie.attrib.get("ID", "")    
    index = [i.text for i in serie.iter('DATA')]
    index = pd.to_datetime(index, dayfirst=True)
    data = [i.text for i in serie.iter('VALOR')]
    return pd.Series(data=data, index=index, name=name)

In [ ]:
codigo_serie = 192
dataInicial = '01/01/2018'
dataFinal = '01/03/2019'

In [36]:
pd.read_csv?

In [75]:
import pandas as pd
def get_data(codigo_serie: list, data_inicial: str, data_final: str):        
    series = []
    for cod in codigo_serie:
        url = f"http://api.bcb.gov.br/dados/serie/bcdata.sgs.{cod}/dados?formato=csv&dataInicial={data_inicial}&dataFinal={data_final}"
        df = pd.read_csv(url, pytesindex_col='data', parse_dates=True, dayfirst=True, sep=';', names=['data', cod], header=0)
        del df.index.name
        series.append(df)
    return pd.concat(series, axis=1)
    

df = get_data([12, 191], '02/01/2018', '01/04/2018')
df

                 12    191
2018-01-01       NaN  0,69
2018-01-02  0,026444   NaN
2018-01-03  0,026444   NaN
2018-01-04  0,026444   NaN
2018-01-05  0,026444   NaN
2018-01-08  0,026444   NaN
2018-01-09  0,026444   NaN
2018-01-10  0,026444   NaN
2018-01-11  0,026444   NaN
2018-01-12  0,026444   NaN
2018-01-15  0,026444   NaN
2018-01-16  0,026444   NaN
2018-01-17  0,026444   NaN
2018-01-18  0,026444   NaN
2018-01-19  0,026444   NaN
2018-01-22  0,026444   NaN
2018-01-23  0,026444   NaN
2018-01-24  0,026444   NaN
2018-01-25  0,026444   NaN
2018-01-26  0,026444   NaN
2018-01-29  0,026444   NaN
2018-01-30  0,026444   NaN
2018-01-31  0,026444   NaN
2018-02-01  0,026444  0,17
2018-02-02  0,026444   NaN
2018-02-05  0,026444   NaN
2018-02-06  0,026444   NaN
2018-02-07  0,026444   NaN
2018-02-08  0,025515   NaN
2018-02-09  0,025515   NaN
...              ...   ...
2018-02-19  0,025515   NaN
2018-02-20  0,025515   NaN
2018-02-21  0,025515   NaN
2018-02-22  0,025515   NaN
2018-02-23  0,025515   NaN
2018-02-26  0,025515   NaN
2018-02-27  0,025515   NaN
2018-02-28  0,025515   NaN
2018-03-01  0,025515  0,17
2018-03-02  0,025515   NaN
2018-03-05  0,025515   NaN
2018-03-06  0,025515   NaN
2018-03-07  0,025515   NaN
2018-03-08  0,025515   NaN
2018-03-09  0,025515   NaN
2018-03-12  0,025515   NaN
2018-03-13  0,025515   NaN
2018-03-14  0,025515   NaN
2018-03-15  0,025515   NaN
2018-03-16  0,025515   NaN
2018-03-19  0,025515   NaN
2018-03-20  0,025515   NaN
2018-03-21  0,025515   NaN
2018-03-22  0,024583   NaN
2018-03-23  0,024583   NaN
2018-03-26  0,024583   NaN
2018-03-27  0,024583   NaN
2018-03-28  0,024583   NaN
2018-03-29  0,024583   NaN
2018-04-01       NaN  0,34

[63 rows x 2 columns]

In [282]:
bc = sgs.SGS()
api_response = bc.requests_wssgs(method=method, params=params)

HTTPError: 500 Server Error: Internal Server Error for url: https://www3.bcb.gov.br/wssgs/services/FachadaWSSGS?method=getValoresSeriesXML

In [275]:
series = []
series_tree = extract_series_tree(api_response)
print(series_tree)

<Element 'SERIES' at 0x7f5787020bd8>

In [276]:
series = []
series_data = series_tree.iter(tag='SERIE')
for i in series_data:
    print(i)
    s = parse_serie_xml(i)
    series.append(s)

<Element 'SERIE' at 0x7f5787020c28>
<Element 'SERIE' at 0x7f5786faaea8>

In [277]:
pd.concat(series, axis=1)

                8        11
2018-01-02   8002  0.026481
2018-01-03   8740  0.026481
2018-01-04   9617  0.026481
2018-01-05   7998  0.026481
2018-01-08   7399  0.026481
2018-01-09   9300  0.026481
2018-01-10   7751  0.026481
2018-01-11   8609  0.026481
2018-01-12   9146  0.026481
2018-01-15  10167  0.026481
2018-01-16   8891  0.026481
2018-01-17  13891  0.026481
2018-01-18   9584  0.026481
2018-01-19   8434  0.026481
2018-01-22   7772  0.026481
2018-01-23  11753  0.026481
2018-01-24  15759  0.026481
2018-01-25   None  0.026481
2018-01-26  16454  0.026481
2018-01-29  11671  0.026481
2018-01-30  10163  0.026481
2018-01-31  12739  0.026481
2018-02-01  12404  0.026481
2018-02-02  10214  0.026481
2018-02-05   9692  0.026481
2018-02-06  17026  0.026481
2018-02-07  11973  0.026481
2018-02-08  11418  0.025552
2018-02-09  12487  0.025552
2018-02-14  18760  0.025552
2018-02-15  11168  0.025552
2018-02-16  11131  0.025552
2018-02-19  13388  0.025552
2018-02-20  12403  0.025552
2018-02-21  15007  0.025552
2018-02-22  11147  0.025552
2018-02-23  13006  0.025552
2018-02-26  11837  0.025552
2018-02-27   9807  0.025552
2018-02-28  18130  0.025552
2018-03-01  12273  0.025552